
<h1>Pirates</h1>

  <h3>Name: <%= @pirate.name %></h3>
  <h3>Weight: <%= @pirate.weight %> pounds</h3>
  <h3>Height: <%= @pirate.height %> inches</h3>


<h1>Ships</h1>
<% @ships.each do |ship| %>
    <h3>Ship Name: <%= ship.name %></h3>
    <h3>Ship Type: <%= ship.type %></h3>
    <h3>Ship Booty: <%= ship.booty %></h3>

<% end %>
